{{#if hasBlock}}
{{yield}}
<ul class='uk-thumbnav' uk-margin>
  {{#each project.baseMaps as |base|}}
    <li class='base-map-thumb uk-active {{if (eq base.name project.default_base_map) 'current-base'}}'>
      <a {{action 'setBase' base}}>
        <img src={{base.thumbnail}} width='100' alt='Thumbnail preview of base layer {{base.name}}'>
      </a>
    </li>
  {{/each}}
</ul>
{{else}}
<ul class='uk-thumbnav base-map-selector' uk-margin>
  {{#each project.baseMaps as |base|}}
    <li class='base-map-thumb uk-box-shadow-xlarge uk-active'>
      <a {{action 'setBase' base}}>
        <img src={{base.thumbnail}} width='100' alt='Thumbnail preview of base layer {{base.name}}'>
      </a>
    </li>
  {{/each}}
</ul>
{{/if}}
