<div class='uk-offcanvas-content'>
  <button class='uk-button show-search' type='button' uk-toggle target='#offcanvas-flip' {{action (action 'getResults')}}>
    <i class='fa fa-chevron-left' aria-hidden='true'></i><i class='fa fa-chevron-left' aria-hidden='true'></i> Find Layers
  </button>

  <div id='offcanvas-flip' uk-offcanvas flip='true' overlay='false' bg-close='false'>
    <div class='uk-offcanvas-bar uk-flex uk-flex-column uk-overflow-hidden'>

      <button class='uk-offcanvas-close' type='button' uk-close></button>

      {{#uk-switcher class='search-results uk-overflow-auto' as |switcher|}}
        {{#switcher.nav type='tab' as |nav|}}
          {{#nav.component as |tab|}}
            {{#tab.item active=true}}
              <i class='fa fa-filter' aria-hidden='true'></i>
              <br />
              Search
            {{/tab.item}}

            {{#tab.item}}
              {{#if searchingRasters}}
                <i class='fa fa-circle-o-notch fa-spin fa-fw'></i>
                <span class='sr-only'>Searching...</span>
              {{else}}
                <i class='fa fa-map' aria-hidden='true'></i>
                <br />
                maps <span class='uk-badge'>{{if model.rasters model.rasters.meta.total_count '0'}}</span>
              {{/if}}
            {{/tab.item}}

            {{#tab.item}}
              {{#if searchingVectors}}
                <i class='fa fa-circle-o-notch fa-spin fa-fw'></i>
                <span class='sr-only'>Searching...</span>
              {{else}}
                <i class='fa fa-database' aria-hidden='true'></i>
                <br />
                data <span class='uk-badge'>{{if model.vectors model.vectors.meta.total_count '0'}}</span>
              {{/if}}
            {{/tab.item}}
          {{/nav.component}}
        {{/switcher.nav}}

        {{#switcher.content class='uk-height-1-1' as |content|}}
          {{#content.item}}
            <div id='filters' class='scroll-anchor' />
            {{search-panel/text getResults=(action 'getResults')}}
            <hr />
            {{search-panel/bounds getResults=(action 'getResults')}}
            <hr />
            {{search-panel/tags model=model.categories getResults=(action 'getResults')}}
            <hr />
            {{search-panel/provider model=model.institutions getResults=(action 'getResults')}}
          {{/content.item}}
          {{#content.item}}
            <div id='rasters' class='scroll-anchor' />
            {{search-panel/results type='rasters' layers=model.rasters project=model.project}}
            {{!pagination-links meta=model.rasters.meta layerType='rasters' class='pagination-bar'}}
          {{/content.item}}
          {{#content.item}}
            <div id='vectors' class='scroll-anchor' />
            {{search-panel/results type='vectors' layers=model.vectors project=model.project}}
            {{!pagination-links meta=model.vectors.meta layerType='vectors' class='pagination-bar'}}
          {{/content.item}}
        {{/switcher.content}}
      {{/uk-switcher}}
    </div>
  </div>
</div>
