{{#uk-button size='small' on-click=(action 'showModal' 'share')}}
  <i class='fa fa-link' aria-hidden='true'></i> Share
{{/uk-button}}

<div id={{concat 'share-modal-' layer.name layer.id}} class='uk-flex-top'>
  <div class='uk-modal-dialog uk-modal-body uk-margin-auto-vertical'>
    <h3>Link to layer {{layer.title}}</h3>
    {{input class='uk-input' type='text' value=layer.shareUrl id=(concat 'share-' layer.name layer.id)}}
    {{#copy-button
      clipboardTarget=(concat '#share-' layer.name layer.id)
      success=(action 'success' 'url') error=(action 'error')
      class='uk-button uk-button-primary uk-margin'
    }}
      <i class='fa fa-clipboard' aria-hidden='true'></i> copy link
    {{/copy-button}}
  </div>
</div>

{{#uk-button size='small' on-click=(action 'showModal' 'embed')}}
  <i class='fa fa-code' aria-hidden='true'></i> Embed
{{/uk-button}}

<div id={{concat 'embed-modal-' layer.name layer.id}} class='uk-flex-top'>
  <div class='uk-modal-dialog uk-modal-body uk-margin-auto-vertical'>
    <h3>Embed code for {{layer.name}}</h3>

    <div class='uk-margin'>
      <label>Embed Code</label>
      {{input class='uk-input' type='text' size=100 value=(concat '<iframe height=' height ' width=' width ' src=' layer.embedUrl 'color=' embedParams.color '&' 'base=' embedParams.base ' />') id=(concat 'embed-' layer.name layer.id)}}
    </div>

    {{#if (not-eq layer.data_format 'raster')}}
    <div class='uk-margin'>
      <label for={{concat 'color-' layer.name layer.id}}>Color</label>
      <select id={{concat 'color-' layer.name layer.id}} class='uk-select' onchange={{action (mut embedParams.color)  value='target.value'}}>
        {{#each dataColors.safeEmbedColors as |color|}}
          <option value={{color.name}}>{{color.name}}</option>
        {{/each}}
      </select>
    </div>
    {{/if}}

    <div class='uk-margin'>
      <label for={{concat 'base-' layer.label layer.id}}>Base Map</label>
      <select id={{concat 'base-' layer.label layer.id}} class='uk-select' onchange={{action (mut embedParams.base)  value='target.value'}}>
        {{#each baseMaps.baseMaps as |base|}}
          <option value={{base.label}}>{{base.label}}</option>
        {{/each}}
      </select>
    </div>

    {{#copy-button
      clipboardTarget=(concat '#embed-' layer.name layer.id)
      success=(action 'success' 'embed code')
      error=(action 'error') class='uk-button uk-button-primary uk-margin'}}
      <i class='fa fa-clipboard' aria-hidden='true'></i> copy link
    {{/copy-button}}
  </div>
</div>
