<div id='base-map' class='fullscreen-map'>
    {{#leaflet-map
      lat=model.center_lat
      lng=model.center_lng
      zoom=model.zoom_level
      onClick=(action 'closeFeature')
      onLoad=(action 'initMap')
      onMoveend=(action 'updateBounds') as |layers|}}

      {{#if model.baseMap}}
        {{layers.tile
          url=model.baseMap.url
          zIndex=10
          attribution=model.baseMap.attribution}}
      {{/if}}

      {{#each model.sortedRasterLayers as |wms|}}
        {{wms-tile-layer
          url=wms.raster_layer.url
          layers=wms.raster_layer.layers
          format='image/png'
          transparent=true
          zIndex=wms.position
          onLoad=(action 'mapLayerAdded' wms.raster_layer)
          opacity=wms.raster_layer.opacity}}
      {{/each}}

      {{#each model.vector_layer_project as |data|}}
        {{#if (eq data.vector_layer.vector_feature.length 0)}}
            {{geojson-layer
              geoJSON=data.vector_layer.remote_geojson
              style=setColor
              stroke=data.vector_layer.showing
              fillOpacity=data.vector_layer.fillOpacity
              onAdd=(action 'mapLayerAdded' data.vector_layer)
              onEachFeature=(action 'showGeojsonFeature' feature data.vector_layer)
            }}
        {{else}}
        {{#each data.vector_layer.vector_feature as |feature|}}
          {{#if feature.show}}
            {{#if (eq feature.geometry_type 'Point')}}
              {{layers.marker
                location=feature.latLng
                onClick=(action 'showFeature' feature data)

                icon=(
                  div-icon
                  html='<div class="shadow"><i class="fa fa-map-marker"></i></div>'
                  className=(concat (concat 'layer-' data.colorName) (if feature.active ' active-feature')))
                opacity=data.vector_layer.opacity
                class=(if feature.active 'active-feature')
              }}
            {{else}}
              {{geojson-layer
                geoJSON=feature.geojson
                fillOpacity=data.vector_layer.fillOpacity
                weight=data.vector_layer.weight
                opacity=data.vector_layer.opacity
                color=feature.colorHex
                fillColor=feature.colorHex
                onEachFeature=(action 'showShapeFeature' feature)
              }}
            {{/if}}
          {{/if}}
        {{/each}}
        {{/if}}

      {{/each}}
    {{/leaflet-map}}
  </div>

{{project-ui/feature-popup feature=activeFeature closeFeature=(action 'closeFeature') on-keydown=(action (mut activeFeature) null)}}
