
  {{#uk-button color='primary' on-click=(action 'showModal')}}
    learn more
  {{/uk-button}}

  <div id='project-intro-modal' class='uk-flex-top uk-modal-container'>
    {{#if model.mediaOnly}}
      <div class='uk-modal-dialog uk-margin-auto-vertical'>
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <iframe class='uk-width-1-1 uk-height-large' src='{{model.media}}' frameborder='0' allowfullscreen align='center'></iframe>
        {{!-- TODO: Don't repeat the footer --}}
        <div class='uk-modal-footer uk-text-right'>
          {{#extras/fa-checkbox checked=hasSuppressCookie change=(action 'suppressIntro')}}
            Don't show every time.
          {{/extras/fa-checkbox}}
        </div>
      </div>
    {{else}}
      <div class='uk-modal-dialog'>
        <button class='uk-modal-close-default' type='button' uk-close></button>

        <div class='uk-modal-header'>
          {{#if model.media}}
            <iframe class='uk-width-1-1 uk-height-large' src='{{model.media}}' frameborder='0' allowfullscreen align='center'></iframe>
          {{/if}}
          <h2 class='uk-modal-title'>{{model.name}}</h2>
        </div>

        <div class='uk-modal-body' uk-overflow-auto>
         {{{model.safeIntro}}}
        </div>

        <div class='uk-modal-footer uk-text-right'>
          {{#extras/fa-checkbox checked=hasSuppressCookie change=(action 'suppressIntro')}}
           Don't show every time.
          {{/extras/fa-checkbox}}
        </div>
      </div>
    {{/if}}
  </div>
