{{main-nav model=model}}

{{#if model.project.may_edit}}
  {{search-panel model=model addRemoveLayer=(action 'addRemoveLayer')}}
{{/if}}

<header class='uk-panel uk-padding-small uk-background-muted project-title'>
  {{#if model.project.name}}{{model.project.name}}{{else}}Untitled{{/if}}
</header>

{{#uk-switcher
  on-beforehide=(action 'setPrevious')
  animation='uk-animation-fade'
  animationDuration=200
  active=1
  class=(concat (if hide 'hide-nav' 'show-nav') ' project-nav uk-grid uk-margin-remove')
  as |switcher|}}
    {{#switcher.nav class='project-nav-buttons' type='tab' class='uk-width-auto@m project-nav-bar' as |nav|}}
      {{#nav.component active=1 left=true as |tab|}}

        {{!-- {{#tab.item class=(concat (if hide 'hide' 'show') ' uk-text-center uk-text-large')}} --}}
        {{#tab.item class='uk-text-center uk-text-large' id='hide-button'}}
        <div onclick={{action 'hideNav'}}>
            <i class="fa fa-chevron-up"></i><br />{{if hide 'Show' 'Hide'}}
            </div>
        {{/tab.item}}

        {{#tab.item class='uk-text-center uk-text-large project-nav-button hideable' id='info-button'}}
          <i class="fa fa-info-circle"></i><br />Info
        {{/tab.item}}

        {{#if model.project.hasRasters}}
          {{#tab.item class='uk-text-center uk-text-large project-nav-button hideable' id='maps-button'}}
            <i class="fa fa-map"></i><br />Maps
          {{/tab.item}}
        {{/if}}

      {{#if model.project.hasVectors}}
        {{#tab.item class='uk-text-center uk-text-large project-nav-button hideable' id='data-button'}}
          <i class="fa fa-database"></i><br />Data
        {{/tab.item}}
      {{/if}}

        {{#if (and model.project.may_edit (not model.project.exploring))}}
          {{#tab.item class='uk-text-center uk-text-large project-nav-button hideable' id='settings-button'}}
            <i class="fa fa-cog" aria-hidden="true"></i><br />Settings
          {{/tab.item}}
        {{/if}}

      {{/nav.component}}
    {{/switcher.nav}}

    {{#switcher.content as |content|}}
      {{#content.item id='hide-content'}}
      {{/content.item}}

      {{#content.item class='uk-width-expand@m project-card' id='info-content'}}
        {{#uk-card class='uk-width-1-1@m uk-card-body uk-padding-small' as |card|}}
          {{project-ui/info model=model}}
        {{/uk-card}}
      {{/content.item}}

      {{#if model.project.hasRasters}}
        {{#content.item class='uk-width-expand@m project-card' id='maps-content'}}
          {{#uk-card class='uk-width-1-1@m uk-card-body uk-flex uk-flex-column uk-overflow-hidden uk-padding-small' as |card|}}
            {{project-ui/maps model=model}}
          {{/uk-card}}
        {{/content.item}}
      {{/if}}

      {{#if model.project.hasVectors}}
        {{#content.item class='uk-width-expand@m project-card' id='data-content'}}
          {{#uk-card class='uk-width-1-1@m uk-card-body uk-flex uk-flex-column uk-overflow-hidden uk-padding-small' as |card|}}
            {{project-ui/data model=model}}
          {{/uk-card}}
        {{/content.item}}
      {{/if}}

      {{#if (and model.project.may_edit (not model.project.exploring))}}
        {{#content.item class='uk-width-expand@m project-card' id='settings-content'}}
          {{#uk-card class='uk-width-1-1@m uk-card-body uk-flex uk-flex-column uk-overflow-hidden uk-padding-small' as |card|}}
            {{project-ui/settings model=model}}
          {{/uk-card}}
        {{/content.item}}
      {{/if}}

    {{/switcher.content}}

{{/uk-switcher}}
{{#if model.project.center_lat}}
  {{project-ui/map model=model.project}}
{{/if}}

{{base-map-selector project=model.project}}
